body {
    background: url('../images/congruent_pentagon.png')
}
.style {
    background: linear-gradient(to right, rgba(255,0,0,.3) 0%,rgba(0,8,252,.3) 36%,rgba(255,255,0,.3) 60%,rgba(0,244,16,.3) 100%);
    color: #FFFFFF;
    text-shadow: 2px 1px #000000;
    font-family: none; 
}
 .goals {
    padding-bottom: 5%;
} 